apiVersion: v1 
kind: Pod
metadata:
  name: config
spec:
  containers:
    - name: nginx
      image: nginx
      env:
      - name: APP_NAME
        valueFrom:
          configMapKeyRef: 
            name: app-configmap
            key: APP_NAME
      - name: APP_ENV
        valueFrom:
          configMapKeyRef: 
            name: app-configmap
            key: APP_ENV
      ports:
        - containerPort: 80